.rhythnic-audio {
    width: 13.4em;
}

.rhythnic-audio .controls div {
    position: relative;
    display: inline-block;
    width: 10em;
    margin-left: .6em;
}

.rhythnic-audio  ul {
    list-style: none;
    padding-left: 0;
}

.rhythnic-audio li {
    padding: 0.2em;
}

.rhythnic-audio i {
    font-size: 3em;
}

.rhythnic-audio .show-hide {
    margin-left: .7em;
    margin-top: -.5em;
    position: relative;
    top: .2em;
}

.rhythnic-audio label {
    display: none;
}

.rhythnic-audio input[type="range"]{
    width: 100%;
}

.rhythnic-audio span {
    font-size: .9em;
    margin-top: -.3em;
}

.rhythnic-audio .time {
    margin-left: .2em;
}

