.rhythnic-audio {
    width: 13.5em;
    font-size: 100%;
    text-align: left;
    border: 2px solid #000;
}

.rhythnic-audio:focus {
    border-color: orange;
}

.rhythnic-audio .controls {
    width: 13.5em;
    margin:auto;
    display: none;
    padding: 1px 0 .2em;
    background: #fff;
}

.rhythnic-audio .controls div {
    position: relative;
    display: inline-block;
    width: 9em;
}

.rhythnic-audio  ul, .rhythnic-audio  ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
    background: #fff;
}

.rhythnic-audio li.selected {
    background: #424242;
}

.rhythnic-audio li {
    padding: .2em .4em;
    height: 1.5em;
    opacity: 1;
    -webkit-transition: height .3s, opacity .3s, padding-top .3s, padding-bottom .3s, -webkit-transform .3s;
    transition: height .3s, opacity .3s, padding-top .3s, padding-bottom .3s, transform .3s;
}

.rhythnic-audio .plHide li:not(.selected) {
    height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}

.rhythnic-audio li:not(.selected):hover { background: #d8d8d8; }

.rhythnic-audio li.selected a:hover { cursor: default; }

.rhythnic-audio a { display: block; }

.rhythnic-audio svg {
    fill:#000;
    cursor: pointer;
    display: inline-block;
}

.rhythnic-audio svg:hover { fill: #808080; }

.rhythnic-audio .play {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    margin-left: .5em;
    margin-right: .1em;
}

.rhythnic-audio .plView {
    width: 1.5em;
    height: 1em;
    margin-left: 1.8em;
    vertical-align: middle;
}

.rhythnic-audio .remove { display: none; }

.rhythnic-audio span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: .9em;
    margin-top: -.3em;
}

.rhythnic-audio .time { margin-left: .7em; }

.rhythnic-audio input[type="range"]{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    vertical-align: middle;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    height: 1.3em;
    border: none;
    padding: .05em .1em;
    border-radius: 1em;
    background: #808080;
    box-shadow: inset 0 1px 0 0 #676767, inset 0 -1px 0 0 #737373;
    outline: none; /* no focus outline */
}

.rhythnic-audio input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

.rhythnic-audio input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: transparent;
}

.rhythnic-audio input[type="range"]::-ms-fill-lower,
.rhythnic-audio input[type="range"]::-ms-fill-upper {
  background: transparent;
}

.rhythnic-audio input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */

.rhythnic-audio input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 3em;
  height: 1.2em;
  border: none;
  border-radius: 1em;
  background-image: linear-gradient(to bottom, #c2dbf0 0, #71aadb 100%);
}
.rhythnic-audio input[type="range"]::-moz-range-thumb {
  width: 3em;
  height: 1.2em;
  border: none;
  border-radius: 1em;
  background-image: linear-gradient(to bottom, #c2dbf0 0, #71aadb 100%);
}

.rhythnic-audio input[type="range"]::-ms-thumb {
  width: 3em;
  height: 1.2em;
  border-radius: 1em;
  border: 0;
  background-image: linear-gradient(to bottom, #c2dbf0 0, #71aadb 100%);
}

.rhythnic-audio input[type='range']:active::-webkit-slider-thumb {
    background-image: linear-gradient(to bottom, #d4e7f7 0, #f8f8f8 100%);
}

.rhythnic-audio input[type='range']:active::-moz-range-thumb {
    background-image: linear-gradient(to bottom, #d4e7f7 0, #f8f8f8 100%);
}

.rhythnic-audio input[type='range']:active::-ms-thumb {
    background-image: linear-gradient(to bottom, #d4e7f7 0, #f8f8f8 100%);
}

.rhythnic-audio input[type="range"]::-moz-focus-inner {
    border: 0;
}

/* Alternate playlist layout */
.rhythnic-audio.alt {
    width: 90%;
    background: #fff;
}
        
.rhythnic-audio.alt .songList {
    display: inline-block;
    vertical-align: top;
}